body {
  background-color: #1c1c1f;
}

#top-menu-bar-logo {
  background-color: #5383e8;
  width:280px;
  height:100%;
  color:white;
}
#top-menu-bar {
  background-color: #28344e;
  height: 45px;
}

#top-menu-bar-etc {
  width:370px;
}

#bottom-menu-bar {
  background-color: #5383e8;
  height:60px;
}

.top-menu-bar-links {
  color: #b5bec5 !important;
  text-align: center;
}

.btn-main {
  background-color: #5383e8;
  color:white;
  width:70px;
}

.css-v5x69j {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  background-color: #FFB900;
  color: #28344E;
}